/* Скрыть вертикальный и горизонтальный скроллбары во всех браузерах */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
  overflow: -moz-scrollbars-none;
}
body::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera */
}
/*#pixi-container {*/
/*position: fixed;     */
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*  margin: 0;*/
/*padding: 0;        */
/*}*/
canvas {
  display: block;
  width: 100%;
  height: 100%;
}
.pixi-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
}
