@keyframes blendFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blendFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes htmlInverseIn {
  0% {
    filter: invert(0);
  }
  100% {
    filter: invert(1);
  }
}

@keyframes htmlInverseOut {
  0% {
    filter: invert(1);
  }
  100% {
    filter: invert(0);
  }
}
