/* ==== ТЕКСТОВЫЙ БЛОК ==== */
.text-block-fixed {
  position: absolute;
  top: 1vw;
  left: 1vw;
  display: flex;
}

.text-el .meta-top {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.text-el .meta-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.text-el .text-content {
  flex: 1;
  margin: 1vw 0 0 0;
  position: relative;
  overflow: hidden;
}

.text-el p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.6s ease;
  margin: 0;
}

.text-el p.active {
  opacity: 1;
  transform: translateY(0);
}

.text-el p.exit {
  opacity: 0;
  transform: translateY(-30%);
}

.pic-el {
  max-width: 90vw;
  max-height: 95vh;
}

.map-item.reveal {
  opacity: 0.3;
  transform: translateY(5px);
  transition:
    opacity 400ms ease,
    transform 400ms ease;
  will-change: opacity, transform;
}
.map-item.reveal.in-view {
  opacity: 1;
  transform: translateY(0);
}

.text-el {
  position: absolute;
  width: 40vw;
  height: 33.5vw;
  background: rgba(255, 255, 255, 0.15);
  color: white;
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  cursor: pointer;
  overflow: hidden;
  transition: background 0.25s ease;
}

.text-el:hover {
  background: rgba(255, 255, 255, 0.2);
}

.text-el,
.map-item.reveal,
.text-el.reveal {
  transition:
    background-color 250ms ease,
    opacity 400ms ease,
    transform 400ms ease;
}

.text-el,
.pic-el {
  cursor: auto;
}

html.low-perf .text-el {
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  background-color: rgba(255, 255, 255, 0.1);
}
